img {
  width: 40%;
}

h2 {
  text-align: center;
  font-family: cubano, sans-serif;
  font-weight: 400;
  color: white;
  font-size: 10vw;
  text-shadow: -0.04em 0.04em 0 #000, 0.04em 0.04em 0 #000,
    0.04em -0.04em 0 #000, -0.04em -0.04em 0 #000;
}
